<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about_us.css">
    <meta name="description" content="برنامه نویسی سایت به صورت اختصاصی از صفر نا صد، حرفه ای، امنیت بالا، سرعت بالا">
    <link rel="icon" href="/static/images/web-icon.png" type="image/png">
    <title>درباره ما | برنامه نویسی وب</title>
</head>

<body>
{#---------------------------------( header )------------------------------------#}

    {% include 'includes/navbar.html' %}

{#---------------------------------( main-content )------------------------------------#}
    <main class="about-us-main-container">
        <div class="about-us-white-space"></div>
        <div class="about-us-p">
            <h1>درباره من</h1>
        </div>
        <div class="my-experience">

            <p>
                از موقعی که  یادم میاد بیشتر وقتم رو با کامپیوتر گذروندم و همشیه کار های کامپیوترمو خودم انجام میدادم مثل عوض کردن ویندوز و از این قبیل کار ها ...
            </p>

            <p>
                تا امروز که برنامه نویس جونیور هستم که بیشتر از یک سال است در این زمینه تجربه کسب کردم و <span class="bold-text">انواع پروژه های برنامه نویسی سایت رو انجام دادم تا مهارت قابل قبولی در این حوزه داشته باشم</span>
            </p>

            <p>
                و هچنان در تلاش هستم برای <span class="bold-text">به روز نگه داشتن اطلاعاتم و بالا بردن تخصصم در این زمینه و ارتقاء مهارتم در برنامه نویسی</span> به همین دلیل خیلی علاقه دارم به پروژه های چالش بر انگیز یا همکاری با تیم های متخصص برای انجام پروژه های بزرگ
            </p>

            <h1 class="my-personality-in-work-p text-border">
                خصوصیات اخلاقیم در کار
            </h1>

            <p>
                  در زمان انجام پروژه هام <span class="bold-text">بیشتر تمرکزم روی کیفیت کارم هست</span> و عجله در تموم کردن پروژه برام اهمیت نداره با این حال چون در زمان یاد گیریم خیلی با حصله عمل کردم و مفاهیم رو عمیق یاد گرفتم <span class="bold-text">سرعت نسبتا بالایی در نوشتن کد های پروژه دارم و پروژه هارو در بازه زمانی قابل قبولی تموم می کنم</span>
            </p>

            <p>
                از اونجایی که به کار تیمی که تمام افراد تیم باهم هماهنگ باشن خیلی علاقه دارم همیشه سعی می کنم <span class="bold-text">نظم، زمان بندی دقیق، مسئولیت پذیری رو حفظ کنم</span> چه با افراد تیم چه با کارفرمایان
            </p>

            <h1 class="my-personality-in-work-p text-border">
                نحوه ی برخوردم با کارفرما
            </h1>

            <p>
                زمانی که شما قصد راه اندازی وب سایت برای کسب و کار خودتونو رو داشته باشین و می خواهید من این کارو انجام بدم، تلاش می کنم <span class="bold-text">بیشترین ارتباط رو با شما ایجاد کنم تا متوجه خواسته های شما از وب سایت مورد نظرتون بشم و روی ریز ترین جزئیات هم دقت می کنیم</span> تا بتونیم بالاترین بازدهی رو داشته باشیم
            </p>
        </div>

        <div class="my-stats-container">
            <h1 class="my-stats-container-h1">مهارت های من در برنامه نویسی</h1>
            <div class="my-stats">
                <div class="skill-bar">
                    <div class="skill-bar-filled width-70">
                        <h1>python</h1>
                        <p>70%</p>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="skill-bar-filled width-90">
                        <h1>Django</h1>
                        <p>90%</p>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="skill-bar-filled width-50">
                        <h1>REST Framework</h1>
                        <p>50%</p>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="skill-bar-filled width-70">
                        <h1>JavaScript</h1>
                        <p>70%</p>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="skill-bar-filled width-60">
                        <h1>PostgreSQL</h1>
                        <p>60%</p>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="skill-bar-filled width-40">
                        <h1>Docker</h1>
                        <p>40%</p>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="skill-bar-filled width-70">
                        <h1>HTML & CSS</h1>
                        <p>70%</p>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="skill-bar-filled width-70">
                        <h1>Git</h1>
                        <p>70%</p>
                    </div>
                </div>

            </div>
        </div>
    </main>
    {% include 'includes/footer.html' %}

{#---------------------------------( footer )------------------------------------#}

{#    {% include 'includes/footer.html' %}#}

    <script src="/static/js/navbars.js"></script>
</body>

</html>