<footer class="index-footer-container">
    <div class="footer-right-side">
        <div class="footer-about-us">
            <p>مرکزی اراک <i class="fa fa-map-marker"></i></p>
            <p class="me-information-font-e">9372518997 98+ <i class="fa fa-mobile"></i></p>
            <p class="me-information-font-e footer-email-size">hoomanjafari.py@gmail.com <i class="fa fa-envelope"></i></p>
            <a target="_blank" href="https://www.github.com/hoomanjafari">hoomanjafari <i class="fa fa-github"></i></a>
            <ul class="footer-social-media-ul">
                <li><a target="_blank" href="https://www.instagram.com/hooman_jafari76?igsh=MW10bzZoMTVsYzJheA=="><i class="fa fa-instagram"></i></a></li>
                <li><a target="_blank" href="https://t.me/hooman76"><i class="fa fa-telegram"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/hooman-jafari-318b69304?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="footer-middle-side">
        <p>اطلاعات بیشتر</p>
        <ul>
            <li><i class="fa fa-phone"></i><a href="{% url 'contact:contact' %}">تماس با ما</a></li>
            <li><i class="fa fa-question-circle"></i><a href="{% url 'about-us:about_us' %}">درباره ما</a></li>
            <li><i class="fa fa-paperclip"></i><a href="{% url 'cv:cv_page' %}">نمونه کار ها</a></li>
            <li><i class="fa fa-book"></i><a href="{% url 'article:article' %}">بلاگ</a></li>
        </ul>
    </div>

    <div class="footer-left-side">
         تمام تلاش ما در حین انجام پروژه شما کیفیت کار هست، هم از نظر ظاهری شیک و هم از نظر قابلیت های سایت که هم صاحبان مشاغل و هم مشتری هاشون به راحتی از امکانات متنوع سایت استفاده کنن
    </div>
    <div class="site-property">
        <h1>محمد رضا جعفری 1403©</h1>
    </div>
</footer>